body{
    font-family: "Fredoka one", sans-serif;
    font-weight: bold;
    background-image: url("images/bg.png");
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: 2px;
}
.list{
    justify-items: center;
}
.level{
    display: flex;
    border: 2px outset #b6b6b6;
    border-radius: 5px;
    background-color: #1c1c25;
    text-decoration: none;
    width: 1000px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.image{
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #959595;
    margin: 10px;
}
.level-name{
    padding-left: 0px;
    color: white;
}
.name{
    margin: 0px;
    margin-top: 5px;
    font-size: 40px;
}
.creator{
    margin: 0px;
    margin-top: 5px;
    font-size: 30px;
}
@media (max-width: 300px) {
    .level-name {
        display: none;
    }
}
.level:hover{
    background-color: #3b3b4a;
    transform: scale(1.02);
}
.top{
    display: flex;
    border-radius: 5px;
    background-color: #1c1c25;
    width: 1000px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 17px;
}
.placement{
    color: #ffffff;
    padding-left: 30px;
}
